<style>
  #home { text-decoration: none; color: grey; }
  #home:hover { text-decoration: underline; }
  body { font-size: 16px; }
  .stretch { width: 100%; }
  .post0 { background-color: #E7E7E7 }
  .post { padding: 6px; }
</style>

<center>
  <table id="layout" border="0" width="900">
    <tr>
      <td width="205" valign="top"><img src="/kiki.png"></td>
      <td align="left" valign="top">
	<div style="margin-top: 0px">
	  <a style="font-size: 28px" id="home" href="/">Channel Zero</a>
	  <%= @path %>
          <div style="border-top: 1px dotted grey" width="100%"></div>
	  <span style="font-size: 18px">
	    <i><%= @description %></i>
	  </span>
	  <center>
	    <br><br>
	    <form method="post" action="/post" enctype="multipart/form-data">
	      <input type="hidden" name="id" value="<%= @id %>">
	      <% if @error.nil? %>
                <% if params['success'] %>
	          <b style="color: green">Thanks for posting!</b>
	        <% else %>
         	  Create New Post
		<% end %>
	      <% else %>
                <span style="color: red"><b><%= @error %></b></p>
	      <% end %>
	      <table border="0" width="300">
		<tr>
		  <td align="right">Title:</td>
		  <td>
		    <input type="text" name="title" class="stretch" value="<%= h @params[:title] %>">
		  </td>
		</tr>
		<tr>
		  <td align="right">Body:</td>
		  <td>
		    <textarea rows="10" name="body" class="stretch"><%= h @params[:body] %></textarea>
		  </td>
		</tr>
		<tr>
		  <td align="right">Image:</td>
		  <td>
		    <input type="file" name="image">
		  </td>
		</tr>
		<tr>
		  <td colspan="2" align="right">
		    <input type="submit">
		  </td>
		</tr>
	      </table>
	    </form>
	  </center>
      </td>
    <tr>
      <td colspan="2" align="right">
	<hr width="100%">
	<div>
	  <b>Other Boards:</b> <span style="color: red">Sorry Unavailable</span>
	  <br><br>
	  </div>
	</div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<% for post in @posts %>
        <div class="post post<%= post['alt'] %>">
	    <% if post['image'] %>
              <center><img src="/upload/<%= post['image'] %>" border="0" style="max-width: 900px"><br></center>
	    <% end %>
	    <big><b><%= h post['title'] %></b></big><br>
	    <small><i><%= post['time'] %></i><br></small>
	    <p><%= h post['body'] %></p>
	    <div style="width: 100%; text-align: right">
	      <input type="button" onclick="window.location=window.location.protocol+'//'+window.location.host+'/post/<%= post['id'] %>'" value="Reply &#8680;">
	    </div>
	  </div>
	<% end %>
      </td>
    </tr>  
  </table>
</center>
